.hero{
    width: 150vh;
    height: 90vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(pink 0%,white 60%);
}
#imgbat{position:relative;
    height: 90vh;
    width: 90vh;
    left:1500px;
    
}
.hero .hero-left{
    width:1000px;
}
 h1{
    position:relative;
    font-size: 120px;
right:1000px;
top:40%}
#herobtn{position: relative;
    top:900px;
    right:200px;
    width:590px;
    height:170px;
    border-radius: 10cm;
    font-size: 55px;
    font-weight: 600;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
    cursor:pointer; 
    transition: background-color 0.3s, color 0.3s;         
}
#herobtn:hover {
    background-image: linear-gradient(to right, #f3d2ee 0%, #e247d8 51%, #dd1dc3 100%);/* Change background color on hover */
     /* Change text color on hover */
  }