#para{position:relative;
    font-size: 150px;
align-items: center;
left:26%;

}
#para1{position:relative;
    font-size: 120px;
align-items: center;
left:33%;}
.emailsub{ height: 90vh;
    width:229vh;
}
.email input{position:relative;
    top:150px;
    height: 200px;
    width: 2000px;
    font-size: 80px;
align-items: center;
border-radius: 10cm;
left:27%;}
.btnemail{position: relative;
    height: 150px;
    width:350px;
    border-radius: 10cm;
    left: 31%;
    top:140px;
    font-size:50px;
    background-color: rgb(196, 249, 232);
    cursor: pointer;
}
.btnemail:hover{
    background-color: aquamarine;
}
